---
import BlogHero from "../../components/BlogHero.astro";
import BlogPostList from "../../components/BlogPostList.astro";
import PageLayout from "../../components/PageLayout.astro";
import { formatPostDate, getBlogPosts } from "../../data/posts";

const posts = await getBlogPosts();
const latestPost = posts[0];
const latestDate = latestPost ? formatPostDate(latestPost.data.date) : "----.--.--";
---

<PageLayout title="Blog | yunfie" description="yunfieのブログです。" homeHref="/">
  <main class="blog-page">
    <BlogHero postCount={posts.length} latestDate={latestDate} />
    <BlogPostList posts={posts} />
  </main>
</PageLayout>
